<div class={{@class}}>
  <div class="page-title">{{@route.model.pageTitle}}</div>

  <button {{action @route.pop}} class="y-button left-button theme-color back-button">Back</button>

  {{#if @route.model.hasMySchedule}}
    <button {{action (fn @route.navigate (hash routeName='my-schedule'))}} class="y-button right-button theme-color icon-button my-schedule-button"></button>
  {{/if}}
</div>
