{{!-- template-lint-disable no-route-action --}}
<div class={{@class}}>
  <div class="page-title">{{@model.pageTitle}}</div>

  <button class="y-button left-button theme-color back-button" type="button" {{on 'click' (route-action 'back')}}>Back</button>

  {{#if @model.hasMySchedule}}
    <button class="y-button right-button theme-color icon-button my-schedule-button js-myScheduleButton" type="button" {{on 'click' (route-action 'visitMySchedule')}}></button>
  {{/if~}}
</div>
