<div ...attributes>
  <ul class="TabBar-list">
    <li><LinkTo @route="page" @model={{1}}>Page 1</LinkTo></li>
    <li><LinkTo @route="page" @model={{2}}>Page 2</LinkTo></li>
    <li>
      {{!-- template-lint-disable no-invalid-link-text --}}
      <LinkTo @route="yapp.more">More</LinkTo>
    </li>
  </ul>
</div>
