<div ...attributes>
  <ul class="TabBar-list">
    <li>{{#link-to 'page' 1}}Page 1{{/link-to}}</li>
    <li>{{#link-to 'page' 2}}Page 2{{/link-to}}</li>
    <li>{{#link-to 'yapp.more'}}More{{/link-to}}</li>
  </ul>
</div>
