<div ...attributes>
  <ul class="TabBar-list">
    <li><a href="#" {{on 'click' (fn @switchToTab 'page1Stack')}}>Page 1</a></li>
    <li><a href="#" {{on 'click' (fn @switchToTab 'page2Stack')}}>Page 2</a></li>
    <li><a href="#" {{on 'click' (fn @switchToTab 'moreStack')}}>More</a></li>
  </ul>
</div>
