:root {
  --nav-stack-header-height: 44px;
  --nav-stack-footer-height: 50px;
}

$easing: cubic-bezier(.23, 1, .32, 1);

.NavStack {
  position: absolute;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  overflow: hidden;

  &--layer0 {
    transform: translateY(0);
    z-index: 1;
  }
  &--layer1 {
    transform: translateY(100%);
    z-index: 2;
  }
  &--layer2 {
    transform: translateY(200%);
    z-index: 3;
  }
  &-itemContainer {
    position: absolute;
    top: var(--nav-stack-header-height);
    bottom: 0;
    left: 0;
    width: 500%;
  }

  &--withFooter &-itemContainer {
    bottom: var(--nav-stack-footer-height);
  }

  &-item {
    position: absolute;
    width: 20%;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    overflow:hidden;

    @for $i from 0 through 100 {
      &-#{$i} { left: 100%/20 * $i; }
    }
  }

  &-header {
    position: absolute;
    height: var(--nav-stack-header-height);
    box-sizing: content-box;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.2);
  }

  &-headerContainer {
    position: relative;
  }

  &-headerComponent, &-headerContainerComponent {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &-headerContainerComponent {
    will-change: opacity transform;
  }

  &-parentItemHeaderContainer {
    opacity: 0;
  }

  &-footer {
    position: absolute;
    bottom: 0;
    height: var(--nav-stack-footer-height);
    box-sizing: content-box;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.2);
  }

  &.is-birdsEyeDebugging {
    $item-width: 320px;
    $item-height: 480px;
    width: $item-width;
    height: $item-height;

    &.NavStack--layer1 {
      transform: translateY($item-height);
    }

    &.NavStack--layer2 {
      transform: translateY($item-height * 2);
    }

    .NavStack-itemContainer {
      left: 0px;
      width: $item-width * 5;
    }

    .NavStack-item {
      border: 1px dashed blue;
    }
  }
}
