{{!-- template-lint-disable no-route-action --}}
<div class={{@class}}>

  {{#if @model.isUnderMorePage~}}
    <button class="y-button left-button theme-color back-button" type="button" {{on 'click' (route-action 'back')}}>Back</button>
  {{/if~}}

  {{#if @model.hasMySchedule}}
    <button class="y-button right-button theme-color icon-button my-schedule-button js-myScheduleButton" type="button" {{on 'click' (route-action 'visitMySchedule')}}></button>
  {{/if~}}

  <div class="page-title">{{@model.pageTitle}}</div>

</div>
