<div class={{@class}}>

  {{#if @route.model.isUnderMorePage~}}
    <button {{action @route.pop}} class="y-button left-button theme-color back-button">Back</button>
  {{/if~}}

  {{#if @route.model.hasMySchedule}}
    <button {{action (fn @route.navigateTo 'my-schedule')}} class="y-button right-button theme-color icon-button my-schedule-button"></button>
  {{/if~}}

  <div class="page-title">{{@route.model.pageTitle}}</div>

</div>
