{{!-- template-lint-disable no-route-action --}}
<div ...attributes>
  <button class="y-button left-button theme-color back-button" type="button" {{on 'click' (route-action 'back')}}>Close</button>
</div>
