{{!-- template-lint-disable no-route-action --}}
<div ...attributes>
  <h1>track {{@model.id}}</h1>
  <a href="#" {{on 'click' (route-action 'drillDownToScheduleItem' '2')}}>Schedule Item 2</a>
</div>
