{{!-- template-lint-disable no-route-action --}}
<div class={{@class}}>
  <button class="y-button left-button theme-color back-button" type="button" {{on 'click' @back}}>Back</button>

  {{#if @model.yapp.myScheduleEnabled}}
    <button class="y-button right-button theme-color icon-button my-schedule-button" type="button" {{on 'click' (route-action 'visitMySchedule')}}></button>
  {{/if}}

  <div class="page-title">Schedule Item</div>
</div>
