{{!-- template-lint-disable no-route-action --}}
<div class={{@class}}>
  <button class="y-button left-button theme-color back-button" type="button" {{on 'click' (route-action 'back')}}>Back</button>
  <div class="page-title">Feedback</div>
</div>
