@import 'nav-stack';

body {
  font-family: sans-serif;
}

h1 {
    font-size: 1.1rem;
}

#yapp-application {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#yapp-application.birds-eye-debugging {
  border: 1px solid red;
  position: absolute;
  overflow: visible;
  transform-origin: left top;
  transform: scale(0.5);
  width: (320px * 5);
  margin: 100px 0 0 320px;

  .NavStack--layer0 .NavStack-itemContainer {
    border: 1px solid green;
    background: rgba(lighten(green, 50%), 0.9);
  }
  .NavStack--layer1 .NavStack-itemContainer {
    border: 1px solid yellow;
    background: rgba(lighten(yellow, 30%), 0.9);
  }
  .NavStack--layer2 .NavStack-itemContainer {
    border: 1px solid purple;
    background: rgba(lighten(purple, 50%), 0.9);
  }
}

.y-page-content {
  padding: 2px;
}

.page-title {
  text-align: center;
}
.my-schedule-button::after {
  content: 'MS'
}

.TabBar-list {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  li {
    list-style: none;
    display: inline-block;
    font-size: .8rem;
  }
}

.NavStack--itemContainer {
  background: white;
}
