{{!-- template-lint-disable no-route-action no-inline-styles require-input-label --}}
<div ...attributes>
  <div class='y-page-content' style="position:absolute;top:0;bottom:0;left:0;right:0">
    <h1>schedule-item {{@model.slug}}</h1>
    <button type="button" {{on 'click' (route-action 'drillDownToRatingForm')}}>Rate</button>
    <button type="button" {{on 'click' (route-action 'logThenGoToRating')}}>Log Then Rate</button>
    <button type="button" {{on 'click' (route-action 'showAttachedPerson')}}>John Doe</button>
    <textarea rows="8" cols="40" style="border-style: inset;"></textarea>
    <VerticalPanDetectorPane>
      <ClickablePane />
    </VerticalPanDetectorPane>
  </div>
</div>
