<div class='y-page-content' style="position:absolute;top:0;bottom:0;left:0;right:0">
  <h1>schedule-item {{model.slug}}</h1>
  <button {{action (route-action 'drillDownToRatingForm')}}>Rate</button>
  <button {{action (route-action 'showAttachedPerson')}}>John Doe</button>
</div>
