<div ...attributes>
  <ul>
    <li>{{#link-to 'page' 3}}Page 3{{/link-to}}</li>
    <li>{{#link-to 'page' 4}}Page 4{{/link-to}}</li>
    <li>{{#link-to 'page' 5}}Page 5{{/link-to}}</li>
  </ul>
</div>
