<div  class={{@class}}>
  <button {{action @route.pop}} class="y-button left-button theme-color back-button">Back</button>

  {{!-- {{#if @model.yapp.myScheduleEnabled}}
    <button {{action (route-action 'visitMySchedule')}} class="y-button right-button theme-color icon-button my-schedule-button"></button>
  {{/if}} --}}

  <div class="page-title">Schedule Item</div>
</div>
