<div class='y-page-content' style="position:absolute;top:0;bottom:0;left:0;right:0">
  <h1>page {{model.id}}</h1>
  <a href="#" {{action (route-action 'drillDownToScheduleItem') '1'}}>Schedule Item 1</a>
</div>
