<div ...attributes>
  <ul>
    <li><a href="#" {{on 'click' (fn @route.navigateTo 'page' '3abf006c-bf2c-4487-8dc3-6ee76c7d24c3')}}>Page 3</a></li>
    <li><a href="#" {{on 'click' (fn @route.navigateTo 'page' '4adaa060-c118-439b-b0d1-9ee0a446a8bd')}}>Page 4</a></li>
  </ul>
</div>
