<div ...attributes>
  <ul>
    <li><a href="#" {{on 'click' (fn @route.navigateTo 'page' 3)}}>Page 3</a></li>
    <li><a href="#" {{on 'click' (fn @route.navigateTo 'page' 4)}}>Page 4</a></li>
  </ul>
</div>
