<div id='yapp-application' class={{if birdsEyeDebugging 'birds-eye-debugging' ''}}>
  {{#each (nav-layer-indices) as |layerIndex|}}
    {{nav-stack
        layer=layerIndex
        footer=(if (eq layerIndex 0) (component 'tab-bar'))
        birdsEyeDebugging=birdsEyeDebugging
    }}
  {{/each}}
</div>

{{outlet}}
